{% extends 'layouts/layout.html' %}

{% block title %}{{title}}{% endblock  %}

{% block titulo_buscador %}

<section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
        <h2 class="heading">{{title}}</h2>
        <div class="intro">Regístrate para acceder al panel de administración y crear tus entradas</div>

    </div><!--//container-->
</section>

{% endblock  %}

{% block content %}

{{register_form.errors}}

<form class="signup-form2  justify-content-center pt-3" method="POST">
{% csrf_token %}
    <div class="form-group">
        {% for field in register_form %}
            {{field.label}}
            {{field}}
        {% endfor %}

    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="Registrarse"></input>
</form>
    
{% endblock  %}